.pin-info
  display: flex
  flex-direction: column
  padding: 20px 15px 0 15px
  box-sizing: border-box

  img
    width: 25px
    height: 25px

  .pin-actions
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between

    .pin-action-buttons
      display: flex
      flex-direction: row

      *
        margin-left: 20px

    .pin-user
      display: flex
      flex-direction: row
      align-items: center

      img
        border-radius: $border-radius-large
        overflow: hidden
        width: 35px
        height: 35px
        margin-right: 10px

      .pin-user-name
        font-weight: bold

  .pin-title
    font-size: $font-size-large
    font-weight: bold
    margin-top: 10px

  .pin-text
    font-size: $font-size-small
    margin-top: 10px

  .pin-edit
    input
      height: 40px
      font-size: $font-size-large
      font-weight: bold
      border-radius: $border-radius-medium
      border: 2px solid $color-primary
