.pin-full
  max-width: 880px
  width: 50%
  height: 680px
  position: relative
  margin-top: 20px

.pin-block
  width: 100%
  height: 100%
  background-color: $color-background
  display: flex
  flex-direction: row
  +shadow-dark-15
  border-radius: $border-radius-large
  overflow: hidden


  .pin-image
    width: 50%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    background-color: $color-darkest-30
    img
      height: 100%


  .pin-data
    width: 50%
    height: 100%
    display: flex
    flex-direction: column


.pin-comments-block
  margin-top: 15px
  padding: 0 15px
  width: 100%
  height: 100%
  overflow: hidden
  overflow-y: scroll
  display: flex
  flex-direction: column
  box-sizing: border-box


.pin-create-comment
  width: 100%
  border-top: 2px solid $color-secondary
  color: $color-primary
  font-weight: bold
  position: relative
  box-sizing: border-box
  input
    width: 100%
    padding: 15px 40px 15px 10px
    min-height: 50px
    box-sizing: border-box
    outline: none
    border: none

  button
    position: absolute
    right: 2%
    bottom: 14%

.pin-back-button
  position: absolute
  left: -5%
  img
    height: 40px
    width: 40px



