.menu
  margin-left: auto
  margin-right: auto
  width: 100%
  text-align: center
  display: table
  input
    border: none
    background: none
    height: 100%
    width: 95%
    font-size: 13px
    font-weight: bold
    appearance: none
    -webkit-appearance: none

  input:focus
    outline: none


  .icons img
    width: 20px
    height: 20px
    cursor: pointer

.menu img
  margin: 10px

.menu .logo
  display: table-cell
  vertical-align: middle
  text-align: left

.menu .find
  display: table-cell
  vertical-align: middle
  width: 100%
  text-align: center
  min-width: 200px

.menu .thirdpart
  display: table-cell
  vertical-align: middle
  text-align: right

.menu .thirdpart .icons
  min-width: 120px

.menu .thirdpart .icons img
  margin: 5px

body
  font-family: 'Open Sans', sans-serif


.menu .thirdpart .buttons
  min-width: 270px


.menu .thirdpart .buttons button
  background: #ff4f4a
  border-radius: 5px
  border: none
  color: white
  font-size: 13px
  cursor: pointer
  width: 120px
  height: 30px
  margin: 10px


.menu .thirdpart .buttons button:last-child
  margin-left: 0


.menu .thirdpart .buttons button:hover
  background: #B50B0B


@media (max-width: 700px)
  .menu .logo
    display: inline-block


  .menu .find
    display: inline-block
    width: 90%


  .menu .thirdpart
    display: inline-block



.menu .find .find_pin
  background: #e4e4e4
  height: 40px
  border-radius: 5px

  margin-left: auto
  margin-right: auto
  text-align: left
  display: flex
  align-items: center
  padding: 0 5px


.find_pin img
  width: 20px
  height: 20px
  cursor: pointer
  margin: 0
  padding-right: 0

  flex: 0 0 20px


.find_pin input
  width: auto


.search_input
  font-size: 15px
  font-weight: normal
  flex: 1 0 auto
  margin-left: 5px


.settingsMenu
  margin: 0
  padding-right: 0
  height: 40px

  display: flex
  align-items: center


.settingsMenu:hover .settingsWindow
  display: block


.settingsMenu .settingsWindow
  display: none
  position: absolute

  top: 40px
  left: 210px

  z-index: 2

  background: rgba(255, 255, 255, 0.98)
  border: 1px solid rgba(0, 0, 0, 0.1)
  border-radius: 5px

  padding: 10px

  box-shadow: 0 0 50px 0 rgba(0,0,0,0.20)

  animation: visibleAnimation .5s 1 ease-in-out


.settingsMenu p
  margin: 0 5px
  padding: 5px


.settingsMenu p.title
  font-size: $font-size-medium
  font-weight: bold


.settingsMenu p.variant
  font-size: $font-size-small
  cursor: pointer


.settingsMenu p.checked
  background: #e4e4e4


.settingsMenu p.variant:hover
  background: #d0d0d0
