.add-smth-modal
  display: flex
  flex-direction: column
  align-items: center
  padding: 10px 20px
  h1
    font-size: $font-size-super-large
    font-weight: bold
    margin-bottom: 10px

  .buttons-group
    display: flex
    flex-direction: row
    width: 100%
    a
      outline: none
      border: none
      text-decoration: none
      margin-right: 10px
    button, a
      width: 100%
      height: 40px


.board-create-modal
  display: flex
  flex-direction: column
  align-items: center
  padding: 10px 20px
  form
    display: flex
    flex-direction: column
  h1
    font-size: $font-size-super-large
    font-weight: bold
    margin-bottom: 10px

  .buttons-group
    display: flex
    flex-direction: column
    width: 100%
    a
      outline: none
      border: none
      text-decoration: none
    button
      width: 100%
      height: 40px