.modal
  position: fixed
  top: 0
  left: 0

  width: 100%
  height: 100%

  display: flex
  align-items: center
  justify-content: center

  -webkit-overflow-scrolling: touch
  z-index: 3

.modal .window .title
  font-size: 18px
  font-weight: bold
  margin: 10px

.red_btn
 font-weight: bold
 color: #fff
 font-size: 14px
 height: 40px
 width: 320px
 background: #F01313
 border: none
 border-radius: 12px
 cursor: pointer
 display: block
 margin: 10px auto 10px auto

.red_btn:hover
  background: #B50B0B

.modal .window a .mini_text
  text-decoration: underline
  cursor: pointer
  font-size: 12px

.modal .line
  background: #FCFBFB
  border: 2px solid #C9C9C9
  border-radius: 12px
  height: 40px
  width: 320px
  margin: 10px auto 10px auto
  text-align: center
  box-sizing: border-box

.modal .window
  position: relative
  min-width: 280px
  max-height: 90vh
  height: auto
  max-width: 380px
  overflow-y: scroll
  -ms-overflow-style: none

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
  background: #fefdff
  border-radius: 6px

  margin: 10px
  padding: 20px
  flex: 1

  text-align: center
  z-index: 3


.modal .window img
  display: block
  margin: auto
  margin-bottom: 10px


.modal .window .buttons .modalButton
  display: inline-block
  background: red
  color: #FFFFFF

  font-family: 'Open Sans', sans-serif
  font-style: normal
  font-weight: 700
  font-size: 14px
  border-radius: 12px
  padding: 10px 0
  width: 100px
  margin: 10px 20px 0 20px

  cursor: pointer


.modal .window .buttons .modalButton:hover
  background: #920200


.modal .window .buttons .modalButton:active
  transform: translateY(2px)

@keyframes visibleAnimation
  from
    opacity: 0
  to
    opacity: 1

.modal .background
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.3)
  -webkit-backdrop-filter: blur(1px)
  backdrop-filter: blur(1px)
  animation: visibleAnimation .5s 1 ease-in-out
