.pin
  margin: 2 * $indent
  width: 24 * $indent
  height: 36 * $indent
  border-radius: $border-radius-medium
  background-color: $color-darkest-15
  display: flex
  justify-content: center
  overflow: hidden
  opacity: 1
  img
    height: 100%
  &:hover
    opacity: 0.9

