$color-background: #FFFFFF
$color-primary: #E5E5E5
$color-accent: #F01313
$color-secondary: #A2A2A2
$color-text: #000000

$color-darkest: rgba(0,0,0)
$color-darkest-30: rgba(0, 0, 0, 0.3)
$color-darkest-15: rgba(0, 0, 0, 0.15)

$font-size-super-small: 0.8em
$font-size-small: 1em
$font-size-medium: 1.2em
$font-size-large: 1.4em
$font-size-super-large: 2em

$indent: 10px

$border-radius-small: 5px
$border-radius-medium: 15px
$border-radius-large: 25px

@mixin transition($seconds)
  transition: $seconds
  -moz-transition: $seconds
  -o-transition: $seconds
  -webkit-transition: $seconds

@mixin shadow-dark-15
  -webkit-box-shadow: 0 0 50px 0 $color-darkest-15
  -moz-box-shadow: 0 0 50px 0 $color-darkest-15
  box-shadow: 0 0 50px 0 $color-darkest-15

@mixin shadow-dark-30
  -webkit-box-shadow: 0 0 50px 0 $color-darkest-30
  -moz-box-shadow: 0 0 50px 0 $color-darkest-30
  box-shadow: 0 0 50px 0 $color-darkest-30
