.page_content .notif_block
  min-height: 400px
  height: calc(100vh - 260px)
  overflow-y: scroll
  -webkit-overflow-scrolling: touch


.page_content .notif_block .mini_title
  margin-top: 100px
  font-size: 25px

.page
    background: #E9E7E7
    padding: 50px
    width: 100%
    min-width: 210px
    min-height: calc(100vh - 53px)
    box-sizing: border-box


.page_content
  margin: auto
  background: #FFF
  padding: 20px
  width: 100%
  max-width: 880px
  border-radius: 15px
  box-sizing: border-box
  position: relative


.page_content .backProfileLink
  position: absolute
  left: -40px
  top: 5px


.backProfileLink img
  width: 40px
  height: 40px
  cursor: pointer

.page_content .mini_title
    text-align: center
    font-size: 16px
    margin: -20px auto 10px auto

h1.page_title
  text-align: center
  font-weight: bold
  font-size: 25px
  margin: 0 0 25px 0


.notif_item
  border-radius: 15px
  margin: 10px
  padding: 5px
  font-size: 18px
  border: 3px solid #E9E7E7
  display: flex
  align-items: center
  animation: visibleAnimation .5s 1 ease-in-out


.notif_item:hover
  background: #E9E7E7

.notif_item:first-child
  margin-top: 0px

.notif_item .avatar_img img
  border-radius: 50%
  width: 70px
  height: 70px
  object-fit: cover

.notif_item .notif_text
  margin-left: 30px

@media (max-width: 700px)
  .page_content .notif_block
    height: calc(100vh - 334px)

@media (max-width: 475px)
 .page_content .notif_block
   height: calc(100vh - 241px)

@media (max-width: 475px)
 .page
  padding: 0
 .page_content
  border-radius: 0
  min-height: calc(100vh - 137px)

@media (max-width: 700px)
 .page
   min-height: calc(100vh - 137px)
