.boards-modal
  display: flex
  flex-direction: column
  align-items: center
  padding: 10px 20px
  h1
    font-size: $font-size-super-large
    font-weight: bold
    margin-bottom: 10px

  .buttons-group
    display: flex
    flex-direction: column
    width: 100%
    button
      width: 100%
      height: 40px

