.pin-view
  background-color: $color-primary
  width: 100%
  min-height: 100vh
  display: flex
  justify-content: center
  align-items: flex-start

.overlay-boards
  background-color: $color-darkest-15
  width: 100vw
  height: 100vh
  position: absolute
  top: 0






