.pin-creation-block
  width: 100%

  display: flex
  flex-direction: column
  align-items: center
  box-sizing: border-box

  padding: 20px 75px
  background-color: $color-background
  +shadow-dark-15
  border-radius: $border-radius-large

  .pin-creation-title
    font-weight: bold
    font-size: $font-size-super-large

  .pin-creation-body
    height: 100%
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start

    margin-top: 15px

    .pin-creation-image
      display: flex
      flex-direction: column
      justify-content: center
      button
        height: 40px
      .image
        margin-bottom: 12px
        width: 320px
        height: 400px
        display: flex
        align-items: center
        justify-content: center
        overflow: hidden

        border-radius: $border-radius-large
        background-color: $color-darkest-30
        img
          height: 100%

    .pin-creation-data
      width: 320px
      height: 100%
      display: flex
      flex-direction: column
      align-items: center



      input, textarea
        width: 100%
        padding: 10px 15px
        box-sizing: border-box
        margin-bottom: 25px
        border-radius: $border-radius-medium
        border: 2px solid $color-primary
        outline: none

      input, button
        height: 40px

      button
        width: 100%

      textarea
        resize: none
        font-size: $font-size-medium


.select-board
  width: 100%
  margin-bottom: 25px

.select-board__control
  width: 100%
  box-sizing: border-box
  border-radius: $border-radius-medium
  border: 2px solid $color-primary





