.custom-button
  cursor: pointer
  background-color: unset
  border-radius: $border-radius-medium
  border: none
  &:hover
    transform: scale(1.05)
    +transition(0.3)

.button-active
  background-color: $color-accent
  color: $color-background
  &:hover
    background: #B50B0B

