.pin-comment
  border-radius: $border-radius-medium
  border: 2px solid $color-primary
  padding: 12px
  margin-right: 5px
  margin-bottom: 10px

  display: flex
  flex-direction: row
  box-sizing: border-box

  img
    border-radius: $border-radius-large
    overflow: hidden
    min-width: 45px
    max-width: 45px
    height: 45px
    margin-right: 10px

  .pin-comment-value
    display: flex
    flex-direction: column
    width: 100%
    align-items: flex-start

    .pin-comment-name
      font-weight: bold
      margin-bottom: 5px

    .pin-comment-text
      font-size: $font-size-super-small
      width: 100%

