
.pin-list
  width: 90%
  margin: auto
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center

.feed-page
  width: 100%
  background-color: $color-background
  display: flex
  flex-direction: column
  align-items: center
  button
    max-width: 120px
    height: 40px

  .feed-page-title
    font-size: $font-size-super-large
    font-weight: bold

