.search-user
  margin: 2 * $indent
  width: 24 * $indent
  height: 36 * $indent
  border-radius: $border-radius-medium
  background-color: $color-darkest-15
  display: flex
  justify-content: center
  overflow: hidden
  opacity: 1
  position: relative
  img
    height: 100%
  &:hover
    opacity: 0.9
  .user-name
    position: absolute
    bottom: 0
    width: 100%
    background-color: $color-darkest-30
    padding: 10px
    box-sizing: border-box